@{
    ViewBag.Title = "RobertContact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sitoniorobert@gmail.com<br />
    Oceanside, NY 11572<br />
    <abbr title="Phone">P:</abbr>
    516-405-9544
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>